.about-card {
    margin: 50px 0;
}

.about-card h1 {
    margin-top: 20px;
    margin-bottom: 40px;

    font-size: 2.5rem;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.profile-picture img {
    display: flex;

    height: 35rem;
    border-radius: 25px 0 0 25px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(43, 101, 189);
    

    border-radius: 0 25px 25px 0;
    height: 35rem;
    width: 50rem;
}

.profile-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 2rem;
}

.profile-element p {
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.profile-element i {
    padding: 0.5rem 0;
    color: white;
}

.profile-element span {
    font-weight: bold;
}

.work-element {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    margin-top: 1rem;
}

.work {
    margin-right: 3rem;
}

/* ABOUT ME SECTION */

.about {
    display: flex;
    flex-direction: column;
    align-self: center;

    width: 1000px;
    margin-bottom: 100px;
}

.title-container {
    display: flex;

    position: absolute;
    width: 200px;
    height: 50px;


    border-radius: 25px;
    margin-top: 50px;
}


.about h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 10px;

    background-color: rgb(43, 101, 189);
    color: #fff;
    border-radius: 25px;
}

.about span {
    color: rgb(48, 48, 48);
    font-weight: 800;
}

.about-text {
    display: flex;
    flex-direction: column;

    background-color: white;
    padding: 50px 50px;
    margin-top: 75px;
    border-radius: 25px;
    /* border: 1px solid black; */
}

.about p {
    color: rgb(43, 101, 189);
    font-weight: 600;
}

/* ESTERNAL REFERENCES SECTION */

.ext-references-mobile {
    display: none;
}

.ext-references {
    display: flex;
    justify-content: space-around;
    align-items: row;

    margin-bottom: 5rem;
}

.ext-references a{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;
    border-radius: 25px;

    color: white;
    background-color: rgb(43, 101, 189);
    font-size: 1.3rem;
    font-weight: 600;
}

.ext-references a:hover {
    background-color: transparent;
    color: rgb(43, 101, 189);
}