.pCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin: 50px 0;
}

.pCard h1 {
    margin-top: 20px;
    margin-bottom: 40px;

    font-size: 2.5rem;
}

#profilePic {
    display: flex;
    
    background-color: blue;
}

#profilePic img {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    border-radius: 25px 0 0 25px;
}

#profileDetails {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(43, 101, 189, 0.7);
    height: 500px;
    padding: 0 10vh;

    border-radius: 0 25px 25px 0;
}

#profileDetails p {
    font-weight: 400;
    padding-bottom: 5vh;

    color: #fff;
}

#profileDetails i {
    padding: 0;
}

.about {
    display: flex;
    flex-direction: column;
    align-self: center;

    width: 1000px;
    margin-bottom: 100px;
}

.title-container {
    display: flex;
    width: 200px;
    height: 50px;
    border-radius: 25px;

    margin: 50px 0;
}

.about h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 10px;

    background-color: rgb(43, 101, 189);
    color: #fff;
    border-radius: 25px;
}

.about p {
    color: #fff;
}

.about span {
    color: rgb(43, 101, 189);
    font-weight: 800;
}