@font-face {
    font-family: WorkSans;
    src: url(./assets/font-name/WorkSans-Regular.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(./assets/font-page/Quicksand-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Quicksand;
    box-sizing: border-box;

    animation-timing-function: linear;
} 

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    background-color: rgb(218, 218, 218);
}

a {
    text-decoration: none;
}

/* HEADER: */

header {
    background-color: black;
}

header h1 {
    display: flex;
    justify-content: center;

    padding-top: 1rem;

    font-size: 3rem;
    font-family: WorkSans;
    color: #fff;
}

header h1 span {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 10px;

    font-family: WorkSans;
    font-size: 1rem;
    font-weight: 500;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 9vh;
    margin-top: 1vh;
    /* margin: 0 auto; */
    
}

.nav-links li {
    display: flex;
    list-style-type: none;

    padding: 20px 70px;

    color: #fff;
    font-weight: 400;
}

.nav-links li:hover {
    color: black;
    font-weight: 800;
    box-sizing: content-box;
    transition: 0.2s;
}

.nav-links a:hover {
    background-color: white;
    transition: 0.2s;
}

.nav-links-mobile {
    display: none;
}


/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: auto;
    background-color: black;
}

footer h1 {
    color: #fff;
}

.footerSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin: 5vh 0;
}

.detailsColumn {
    display: flex;
    flex-direction: row;
    
    align-items: center;

    /* width: 80rem; */
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 6rem;
}

.phoneContainer, .mailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phoneContainer {
    margin-bottom: 6rem;
}

.phoneContainer p, .locationContainer p, .mailContainer p {
    color: white;
    font-weight: 400;
}

.locationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locationContainer img {
    margin-top: 10px;
    width: 30rem;

    border-radius: 1rem;
}

.fas {
    font-size: 3rem;
    color:rgb(43, 101, 189);

    padding: 5px;
}

#formColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formColumn h1 {
    display: flex;
    align-self: center;
}

#formColumn div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#firstName {
    display: flex;

    margin-right: 20px;
}

#lastName {
    display: flex;
}

#firstName, #lastName, #userEmail, #message, #formColumn button {
    margin-top: 20px;
    padding: 7px 10px;
    border-radius: 4px;
}

#formColumn input::placeholder {
    color: rgb(110, 110, 110);
    font-weight: 500;
} 

.input {
    width: 100%;
    outline: none;
    border: none;
    padding: 0 5px;
    
    font-weight: 600;
    font-size: 0.95rem;
    background-color: rgb(219, 216, 216);
}

textarea.input {
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;

    font-weight: 800;
  }

#message::placeholder {
    color: rgb(110, 110, 110);
    font-weight: 500;
}

#sendButton {
    display: flex;
    justify-content: center;

    letter-spacing: 2px;
    color: #fff;
    cursor: pointer;
    background-color: rgb(43, 101, 189);
}

#sendButton:hover {
    display: flex;
    justify-content: center;

    letter-spacing: 20px;
    background-color: rgb(1, 55, 138);
    transition: 0.5s;
}

#errorMessage {
    color: red;
    margin-top: 10px;
    display: none;
}

#sentMessage {
    display: flex;
    justify-content: center;

    margin-top: 10px;
    padding: 5px 0;
    width: 100%;

    color: white;
    background-color: rgb(209, 164, 16);
}

.bottomBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 4rem;

    color: rgb(219, 216, 216);
}

.bottomBar p {
    display: flex;
    margin-left: 30px;
    font-size: 1.1rem;

    color: rgb(110, 110, 110);
}

.socialIcons {
    display: flex;
    margin-right: 30px;
    font-size: 2.5rem;
}

.fab {
    padding-left: 1rem;
    color: rgb(48, 48, 48);
}

.fa-linkedin:hover {
    color: #0070AD;
}

.fa-twitter:hover {
    color: #00A2F3;
}

.fa-github:hover {
    color: #822A91;
}