* {
    padding: 0;
    margin: 0;
}

/* PROGRAMMING SKILLS SECTION */

.skill-section {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 5rem;
}

.s-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.s-container h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -2.5rem;

    height: 4rem;
    width: 26rem;
    border-radius: 2rem;

    background-color: rgb(43, 101, 189);
    color: white;
}

.skills-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 42rem;
    width: 80rem;
    border-radius: 2rem;
    margin-bottom: 5rem;

    background-color: white;
}

.l-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 5rem;
}

.p-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 3rem;
}

.p-subtitle i {
    font-size: 1.5rem;
    color: teal;
}

.p-subtitle p {
    font-size: 2.3rem;
    color: teal;
}

.l-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 70rem;
}

.l-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l-item i{
    font-size: 10rem;
    padding: 0;
}

.l-item p {
    font-weight: 600;
}

.p-subtitle2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.p-subtitle2 i {
    font-size: 1.5rem;
    color: orange;
}

.p-subtitle2 p {
    font-size: 2.3rem;
    color: orange;
}

.fa-html5 {
    color: #DD4B25;
}

.fa-css3-alt {
    color: rgb(26,111,180);
}

.fa-js-square {
    color: rgb(239,216,29);
}

.fa-react {
    color: rgb(94,211,243);
}

.fa-bootstrap {
    color: rgb(83,59,120);
}

/* LANGUAGE SKILL SECTION */

.language-skills-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 20rem;
    width: 80rem;
    border-radius: 2rem;
    margin-bottom: 5rem;

    background-color: white;
}

.languages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 6rem;
    width: 70rem;
}

.language-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flag-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    margin-bottom: 1rem;
}

.flag-container img {
    width: 10rem;
    height: 10rem;

    border-radius: 7rem;
    border: 0.2rem solid black;
}

.flag-container p {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: -0.3rem;
    width: 5rem;
    border-radius: 2.5rem;

    background-color: black;
    color: white;
}

.language-item p {
    font-weight: 600;
}