@media only screen and (max-width: 1200px) {

    /* PROFILE CARD */
    #aboutCardMobile {
        margin: 2rem 0;
    }

    #imgMobile {
        height: 25rem;
        border-radius: 0;
    }

    #profileDetailsMobile{
        height: 25rem;
        border-radius: 0;
    }

    #profileDetailsMobile i {
        font-size: 1rem;
    }

    .prof-description {
        font-size: 0.8rem;
    }

    /* ABOUT ME SECTION */
    #aboutMobile {
        width: 100%;
    }

    /* EXTERNAL REFERENCES */
    #extRef {
        display: none;
    }

    #extRefMobile{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        margin-bottom: 3rem;
    }

    .ext-column {
        display: flex;
        flex-direction: column;
    }

    #extRefMobile a{
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-bottom: 1rem;
        width: 200px;
        height: 50px;
        border-radius: 25px;
    
        color: white;
        background-color: rgb(43, 101, 189);
        font-size: 1.3rem;
        font-weight: 600;
    }

    #extRefMobile a:hover {
        background-color: transparent;
        color: rgb(43, 101, 189);
    }
}

@media only screen and (max-width: 800px) {
    #profileDetailsMobile i {
        font-size: 0.8rem;
    }

    .prof-description {
        font-size: 0.8rem;
        text-align: center;
    }

    #workMobile {
        margin-right: 1rem;
    }


    /* EXTERNAL REFERENCES */
    
}