@media only screen and (max-width: 1200px) {

    /* PROFILE CARD */
    #aboutCardMobile {
        margin: 2rem 0;
    }

    #imgMobile {
        height: 25rem;
        border-radius: 0;
    }

    #profileDetailsMobile{
        height: 25rem;
        border-radius: 0;
    }

    #profileDetailsMobile i {
        font-size: 1rem;
    }

    .prof-description {
        font-size: 0.8rem;
    }

    /* ABOUT ME SECTION */
    #aboutMobile {
        width: 100%;
    }

    /* EXTERNAL REFERENCES */
    #extRef {
        display: none;
    }

    .extRefMobile{
        display: flex;
    }
}

@media only screen and (max-width: 800px) {
    #profileDetailsMobile i {
        font-size: 0.8rem;
    }

    .prof-description {
        font-size: 0.8rem;
        text-align: center;
    }

    #workMobile {
        margin-right: 1rem;
    }

    
    /* EXTERNAL REFERENCES */
    .extRefMobile{
        display: flex;
    }
}