@media only screen and (max-width: 850px) {
    body {
        /* min-height: 100vh; */
    
        display: flex;
        flex-direction: column;

        overflow-x: hidden;
    }

    /* HEADER: */

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 4rem;

        background-color: black;
    }

    #logo {
        display: flex;
        justify-content: flex-start;

        padding: 0;
        margin-left: 2rem;

        font-size: 20px;
        font-family: WorkSans;
        color: #fff;
    }

    #logo span {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .nav-links-mobile {
        z-index: 1000;
        display: flex;
        flex-direction: column;

        width: 35%;
        position: absolute;
        right: 0;
        height: 13.5rem;
        top: 4rem;
        background-color: black;

        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links-mobile li {
        display: flex;

        list-style: none;
        margin: 1rem 2rem;
        
        opacity: 0;
    }

    .nav-links-mobile a {
        display: flex;
        justify-content: flex-end;
        align-self: center;

        font-weight: bold;
        font-size: 14px;
        color: rgb(226,226,226);
        text-decoration: none;
        letter-spacing: 3px;
        width: 100%;
    }

    .nav-links-mobile a:hover {
        color: black;
        font-weight: bold;
        background-color: white;
    }

    .burger {
        margin-right: 2rem;
        cursor: pointer;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: rgb(226,226,226);
        margin: 5px;

        transition: all 0.3s ease;
    }

    .nav-active {
        transform:translateX(0%);
    }

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px,-6px);
    }

    /* FOOTER: */
    .detailsColumn {
        display: flex;
        flex-direction: column;
    }

    .contacts {
        display: flex;
        flex-direction: row;

        margin: 0 0 4rem 0;
    }

    .phoneContainer {
        margin: 0 3rem 0 0;
    }

    .locationContainer img {
        width: 24rem;
    }

    #formColumn {
        width: 20rem;
    }

    .bottomBar p {
        font-size: 1rem;
        color: rgb(48, 48, 48);
    }
}


@media only screen and (max-width: 1440px) {

    /* FOOTER: */
    .footerSection {
        display: flex;
        flex-direction: column;
    }

    .detailsColumn {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 5rem;
    }
    
}